<div class="card">
    <div class="card-header">
        <h5>Filtros de búsqueda</h5>
        <div class="kl-sidebar-filter-buttons">
            <button type="button" class="btn btn-default" (click)="cleanFilters()">
                <span class="k-search-options text-center" [popover]="'Borrar todos los filtros'">
                    <em class="fa fa-eraser text-primary"></em>
                </span>
            </button>
        </div>
    </div>
    <div class="card-body">
      <form class="form" #resultForm="ngForm" (submitValidForm)="clickSearch()">
        <div class="scroll-sidebar">
            <!--SEARCH BY NAME - FILTER: ONLY CHARACTERS-->
            <div class="form-group">
                <k-fieldset kFieldsetLegend='article' class='d-block mt-2'>
                    <div class="k-search-space-top">
                        <k-search-input-text class="k-search-space-top" id="firstName" name="Nombre" [required]="false"
                            [(ngModel)]="articleFilterService.firstName" [upperInputValue]="true" [placeholder]="''"
                            [showComparatorType]="true" [disabledCommaList]="true" [label]="'Nombre:'"
                            [optionSettings]="optionSettings" [maxlength]="50"
                            [regularExpression]="'[a-zñA-ZÑ ]'">
                        </k-search-input-text>
                    </div>
                    <!--SEARCH BY SECONDNAME - FILTER: ONLY ALPHANUMERIC-->
                    <div class="k-search-space-top">
                        <k-search-input-text class="k-search-space-top" id="lastName" name="Apellido"
                            [(ngModel)]="articleFilterService.lastName" [upperInputValue]="true"
                            [placeholder]="''" [showComparatorType]="true" [disabledCommaList]="true"
                            [label]="'Apellido:'" [optionSettings]="optionSettings" [maxlength]="50"
                            [regularExpression]="'[a-zñA-ZÑ 0-9]'">
                        </k-search-input-text>
                    </div>
                    <!--SEARCH BY DOCUMMENT - FILTER: ONLY NUMBERS-->
                    <div class="k-search-space-top">
                        <k-search-input-text class="k-search-space-top" id="documentNumber" name="Cédula"
                            [(ngModel)]="articleFilterService.documentNumber" [upperInputValue]="true"
                            [placeholder]="''" [showComparatorType]="false" [disabledCommaList]="false"
                            [label]="'Cédula:'" [optionSettings]="rangeOptionSettings" [maxlength]="10"
                            [regularExpression]="'[0-9]'">
                        </k-search-input-text>
                    </div>
                    <!--SEARCH BY EMAIL-->
                    <div class="k-search-space-top">
                        <k-search-input-text class="k-search-space-top" id="email" name="Correo"
                            [(ngModel)]="articleFilterService.email" [placeholder]="''" [showComparatorType]="false"
                            [disabledCommaList]="false" [label]="'Correo:'" [optionSettings]="optionSettings"
                            [maxlength]="50">
                        </k-search-input-text>
                    </div>
                    <!--SEARCH BY DATE REGISTER-->
                    <div class="k-search-space-top">
                        <k-search-input-date class="k-search-space-top" id="createdDate" name="Fecha registro"
                            [label]="'Fecha registro:'" [optionSettings]="rangeOptionSettings" [required]="false"
                            [showComparatorType]="true" [showTime]="false"
                            [showIcon]="true" [(ngModel)]="articleFilterService.createdDate" [yearRange]="'1'">
                        </k-search-input-date>
                    </div>

                    <!--SEARCH BY Status-->
                    <div class="k-search-space-top">
                        <k-search-select class="k-search-space-top" id="status" name="Estado"
                            [(ngModel)]="articleFilterService.status" [itemList]="statusList" [label]="'Estado:'"
                            [optionSettings]="optionSettings" [optionValue]="'value'"
                            [descriptionValue]="['status']" [placeholder]="'Seleccione'"
                            [notFoundText]="'No se encontraron resultados.'">
                        </k-search-select>
                    </div>

                </k-fieldset>
            </div>
        </div>

        <!--SEARCH BUTTONS-->
        <div class="row k-search-button float-right">
            <button class="btn btn-primary"><em class="fa fa-search"></em> Buscar</button>
        </div>
    </form>
    </div>
</div>
