<!--SIDEBAR CARD-->
<div class="card">
    <div class="card-header">
        <h5>Filtros de búsqueda</h5>
        <div class="kl-sidebar-filter-buttons">
            <button type="button" class="btn btn-default" (click)="cleanFilters()">
                <span class="k-search-options text-center" [popover]="'Borrar todos los filtros'">
                    <em class="fa fa-eraser text-primary"></em>
                </span>
            </button>
        </div>
    </div>
    <div class="card-body">
        <form class="form" #resultForm="ngForm" (submitValidForm)="clickSearch()">
            <div class="scroll-sidebar">
                <!--SEARCH BY NAME - FILTER: ONLY CHARACTERS-->
                <div class="form-group">
                    <k-fieldset kFieldsetLegend='Parámetros' class='d-block mt-2'>
                        <!--SEARCH BY PARAMETERSCODE - FILTER: ONLY ALPHANUMERIC-->
                        <div class="k-search-space-top">
                            <k-search-input-text id="parameterCode" name="Código"
                                [(ngModel)]="parametersFilterService.parameterCode" [upperInputValue]="true"
                                [showComparatorType]="true" [disabledCommaList]="true"
                                [label]="'Código:'" [optionSettings]="optionSettings"
                                [dispatch]="dispatchEventParameterCode" [maxlength]="10">
                            </k-search-input-text>
                        </div>


                        <!--SEARCH BY DESCRIPTION - FILTER: ONLY ALPHANUMERIC-->
                        <div class="k-search-space-top">
                            <k-search-input-text id="description" name="Descripción"
                                [(ngModel)]="parametersFilterService.parameterDescription" [upperInputValue]="true"
                                [showComparatorType]="true" [disabledCommaList]="true"
                                [label]="'Descripción:'" [optionSettings]="optionSettings"
                                [dispatch]="dispatchEventParameterDescription" [maxlength]="1000">
                            </k-search-input-text>
                        </div>


                        <!--SEARCH BY REGISTER DATE-->
                        <div class="k-search-space-top">
                            <k-search-input-date id="registerDate" name="Fecha registro" [label]="'Fecha registro:'"
                                [optionSettings]="rangeOptionSettings" [required]="false"
                                [showTime]="false" [showIcon]="true" [(ngModel)]="parametersFilterService.registerDate"
                                [yearRange]="'2'" [showComparatorType]="true" [dispatch]="dispatchEventRegisterDate">
                            </k-search-input-date>
                        </div>


                        <!--SEARCH BY Status-->
                        <div class="k-search-space-top">
                            <k-search-select id="status" name="Estado" [(ngModel)]="parametersFilterService.parameterStatus"
                                [itemList]="statusList" [label]="'Estado:'" [optionSettings]="optionSettings"
                                [optionValue]="'value'" [descriptionValue]="['status']" [placeholder]="'Seleccione'"
                                [dispatch]="dispatchEventParameterStatus" [notFoundText]="'No se encontraron resultados.'">
                            </k-search-select>
                        </div>
                    </k-fieldset>
                </div>
            </div>

            <!--SEARCH BUTTONS-->
            <div class="row k-search-button float-right">
                <button class="btn btn-primary"><em class="fa fa-search"></em> Buscar</button>
            </div>
        </form>
    </div>
</div>
