.k-width-name {
    min-width: 300px !important;
    max-width: 300px !important;
}

.k-width-email {
    min-width: 200px !important;
    max-width: 200px !important;
}

.k-width-user {
    min-width: 100px !important;
    max-width: 100px !important;
}

.k-width-action {
    width: 7em;
}

.k-width-state {
    width: 5em;
}
.nav-ul{
    list-style-type: none;
}