.k-width-code {
    min-width: 100px !important;
    max-width: 100px !important;
}

.k-width-200 {
    min-width: 200px !important;
    max-width: 200px !important;
}

.k-width-action {
    width: 7em;
}

.k-width-state {
    width: 5em;
}
.nav-ul{
    list-style-type: none;
}
